body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: black;
    margin-top: 20vh;
}

.top-part {
    display: inline-block;
    float: left;
    width: 1000px;
    margin-left: calc((100% - 1000px) / 2);
    background: yellow;
    
}

.top-part > img {
    display: inline-block;
    float: left; 
    height: 20px;
    margin-bottom: 10px;
    margin-top: 30px;
    margin-left: 40px;
}

.topmid-links {
    display: inline-block;
    float: left;
    width: 65%;
}

.topmid-links > a {
    line-height: 24px;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 0 20px;
    float: left;
    text-decoration: none;
    color: #535353;
    font-weight: bold;
}
 
.topmid-links > a:first-child {
    margin-left: 50px;
}

.icons {
    display: inline-block;
    float: right;
    margin-top: 30px;
    padding: 0 20px;
}

.fa {
    display: inline-block;
    float: left;
    padding: 0 20px;
    color: #535353;                   
}

.container {
    display: inline-block;
    float: left;
    width: 1000px;
    margin-left: calc((100% - 1000px) / 2);
    background-color: white;
}

.left-column {
    display: inline-block;
    float: left;
    width: 55%;  
}

.left-column > fa {
    display: inline-block;
    float: left;
}

.left-column > img {
    display: inline-block;
    float: left;
    padding: 10px;
    
}

.right-column {
    display: inline-block;
    float: left;
    width: 45%;
    padding: 10px;
    margin-top: 50px;
}

h2 {
    width: 100%;
    line-height: 38px;
    font-size: 24px;
    color: #FF5E61;
}

h1 {
    width: 100%;
    line-height: 48px;
    font-size: 46px;
    font-weight: bold;
}

p {
    width: 100%;
    line-height: 38px;
    font-size: 13px;
}

.nutrition {
    display: inline-block;
    float: left;
    width: 40%;
}

h3 { 
    width: 100%;
    line-height: 38px;
    font-size: 16px;
    padding-bottom: 7px;
}

ul {
    display: inline-block;
    float: left;
    width: 100%;
    line-height: 28px;
    font-size: 13px;
    list-style-type: none;
}

span {
    color: #FF5E61;
    line-height: 28px;
    font-size: 28px;
    padding-right: 10px;
}


.contents {
    display: inline-block;
    float: left;
    width: 60%;
}

.contents > img {
    display: inline-block;
    float: left;
    padding: 10px 15px 10px 0;
}


.button {
    display: inline-block;
    float: left;
    width: 100%;
}

button {
    background-color: #FF5E61;
    border: none;
    color: white;
    padding: 10px 30px 10px 30px;
    font-size: 18px;
    line-height: 20px;
    border-radius: 20px;
    margin-top: 25px;   
}