body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color:white;
   
}

.top-part {
    float: left;
    width: 1000px;
    margin-left: calc((100% - 1000px) / 2);
    height: 50px;
    background: white;
}

.top-part > img {
    float: left; 
    height: 20px;
    margin-bottom: 10px;
    margin-top: 30px;
    margin-left: 40px;
}

.navigation {
    float: right;
    width: 45%;
    margin-top: 30px; 
}


.topmid-links {
    float: left;
}

.topmid-links > a {
    line-height: 24px;
    font-size: 14px;
    padding: 0 20px;
    text-decoration: none;
    color: #535353;
    font-weight: bold;
}

.topmid-links > a:hover {
   color: #FF5E61; 
}
.icons {
    float: right;
    margin-right: 20px;
    margin-top: 2px;
}

.icons > i {
    display: inline-block;
    padding: 0 15px;
    color: #535353;                   
}

.icons > i:hover {
    color: black;
}

.container {
    float: left;
    width: 1000px;
    margin-left: calc((100% - 1000px) / 2);
    background-color: white;
}

.left-column {
    float: left;
    width: 55%;  
    position: relative
}

.left-column > img {
    float: left;
    padding: 20px;
    margin-left: 10px;
}

.fa > button {
    position: absolute;
    width: 46px;
    height: 46px;
    top:225px;
    border: none;
    border-radius: 23px;
    background-color: #FF5E61;
    font-size: 30px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.fa > button:hover {
    background-color: #e93b3e;
}

.fa > button:first-child {
    left: 0px;
    margin-left: 24px;
}

.fa > button:last-child {
    right: 0;
    margin-right: 69px;
}

.right-column {
    float: left;
    width: 45%;
    padding: 10px;
    margin-top: 50px;
}

h2 {
    width: 100%;
    line-height: 38px;
    font-size: 24px;
    color: #FF5E61;
}

h1 {
    width: 100%;
    line-height: 48px;
    font-size: 46px;
    font-weight: bold;
}

p {
    width: 100%;
    line-height: 38px;
    font-size: 13px;
}

.nutrition {
    float: left;
    width: 40%;
}

h3 { 
    width: 100%;
    line-height: 38px;
    font-size: 16px;
    padding-bottom: 7px;
}

ul {
    float: left;
    width: 100%;
    line-height: 28px;
    font-size: 13px;
    list-style-type: none;
}

span {
    color: #FF5E61;
    line-height: 28px;
    font-size: 28px;
    padding-right: 10px;
}


.contents {
    float: left;
    width: 60%;
}

.contents > img {
    float: left;
    padding: 10px 15px 10px 0;
}

.button {
    float: left;
    width: 100%;
}

.button > button {
    background-color: #FF5E61;
    border: none;
    color: white;
    padding: 10px 30px 10px 30px;
    font-size: 18px;
    line-height: 20px;
    border-radius: 20px;
    margin-top: 25px; 
    cursor: pointer;  
}

.button > button:hover {
    background-color: #e93b3e; 
}